.banner {
    height: 25vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background:url('https://cdn.mos.cms.futurecdn.net/nweoCVrjc376xm23LGVkN3.jpg');
    background-size:cover;
    background-position: center;
    box-shadow: inset 0 0 0 2000px rgba(44, 43, 43, 0.3);
}
.title {
    font-size: 1.9rem !important;
    color: rgb(12, 12, 12);
    margin: 2rem;
    text-align: center !important;
    text-transform: uppercase;
}